a:link, a:visited
{
    color: rgb(99, 4, 105);
    text-decoration: none;
}

html
{
    background: rgb(207, 139, 207);
}

h1
{
    background : rgb(183, 105, 183);
    border-style: solid; 
    border-color: black; 
    color: rgb(250, 207, 247);
    text-shadow: 2px 2px 4px #000000;
    font-family: "Times New Roman", Times, serif;
}

h2
{
    background : rgb(183, 105, 183);
    border-style: solid;
    border-color: black;
    color: rgb(250, 207, 247);
    text-shadow: 2px 2px 4px #000000;
    font-family: "Times New Roman", Times, serif;

}

hr
{
    background: black;
    border-color: black;
}

img
{
    border-style: solid;
    box-shadow: 10px 10px;
}
